<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/app/main.css') }}" />

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Fontawasome core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    {% endblock %}
</head>

<body>

    <div class="container kompugraf-header" style="background-color:white">
        <div class="pull-left">
            <a href="http://www.kompugraf.com.pl"><img class="" src="{{ asset('bundles/app/img/logo.jpg') }}" alt=""></a>
        </div>
        <div class="pull-right">
            <img height="56" src="{{ asset('bundles/app/img/certiport.png') }}" alt="">
            <img height="56" src="{{ asset('bundles/app/img/ecdl2.jpg') }}" alt="">
            <img height="56" src="{{ asset('bundles/app/img/atc.jpg') }}" alt="">
        </div>
        <div height="25px" class="col-xs-12" style="background-color:#337ab7; margin-top: 10px">
        </div>


    </div>


    <div class="container">
        <div class="row">
            <div class="row">

                    {%
                   set mainMenu=[
                        {'path' : 'user_detail', 'icon' : 'fa-home', 'name' : 'Panel użytkownika'},
                        {'path' : 'todo_learn', 'icon' : 'fa-graduation-cap', 'name' : 'Nauka'},
                        {'path' : 'todo_list', 'icon' : 'fa-tasks', 'name' : 'Ćwiczenia'},
                        {'path' : 'logout', 'icon' : 'fa-paper-plane', 'name' : 'Prześlij zadania'},
                        {'path' : 'logout', 'icon' : 'fa-pencil', 'name' : 'Test'},
                        {'path' : 'logout', 'icon' : 'fa-question', 'name' : 'Zadaj pytanie'},
                        {'path' : 'logout', 'icon' : 'fa-calendar', 'name' : 'Harmonogram'},
                        {'path' : 'logout', 'icon' : 'fa-sign-out', 'name' : 'Wyloguj'}
                    ] 
                    %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="col-md-3">
                        <ul class="nav nav-pills nav-stacked admin-menu">
                            {% for position in mainMenu %}
                                <li {{ app.request.get('_route') == position['path'] ? ' class="active"' : '' }}><a href="{{ path(position['path']) }}"><i class="fa {{ position['icon'] }} fa-fw"></i>{{ position['name']}}</a></li>
                                    {% endfor %}

                        </ul>
                    </div>
{% endif %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="col-md-9 admin-content alert-container">
{% else %}
    <div class="col-md-12 admin-content alert-container">
{% endif %}
                        <div class="col-md-12 alert-container">
                            {% for flash_message in app.session.flashbag.get('notice') %}
                                <div class="alert alert-success">{{flash_message}}</div>
                            {% endfor %}
                            {% for flash_message in app.session.flashbag.get('error') %}
                                <div class="alert alert-danger">{{flash_message}}</div>
                            {% endfor %}
                        </div>
                    {% block body %}{% endblock %}
                </div>
        </div>              
    </div>
</div> 

        {% block javascripts %} 
        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{{ asset('bundles/app/js/selecting.js') }}"></script>
        {% endblock %}
        
{#<div id="footer">
    <div class="container text-center">
        <p class="text-muted">&copy; Kompugraf 2017</p>
    </div>
</div>#}
</body>
</html>
